<div class="row">
    <div class="col-md-6 landing"><img src="{{home.firstUrl}}" class="imag"></div>
    <div class="col-md-6 landing-right">
        <div class="landing-box-right pr-5">
            <h1>{{home.firstHeading}}</h1>
            <h3>{{home.firstSubHead}}</h3>
            <p>{{home.firstContent}}</p>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6">
        <div class="landing-box-right pr-5">
            <h1>{{home.secondHeading}}</h1>
            <p>{{home.secondContent}}</p>
        </div>
    </div>
    <div class="col-md-6 p-5">
        <div class="landing"><img src="{{home.secondUrl}}" class="imag"></div>
    </div>
</div>
<div class="row mt-5 landing-right">
    <div class="col-md-6 p-5">
        <div class="landing"><img src="{{home.thirdUrl}}" class="imag"></div>
    </div>
    <div class="col-md-6">
        <div class="landing-box-right pr-5">
            <h1>{{home.thirdHeading}}</h1>
            <p>{{home.thirdContent}}</p>
        </div>
    </div>
</div>